.menu{
    font-family: Arial, Dialog, serif;
    float: left;
    padding-left: 30px;
    padding-bottom: 20px;
}
.link{
    color: #0B76CA;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.label{
    font-size: 14px;
}
.icon{
    width: 20%;
    float: left;
}
.icon img{
    float: right;
    margin-right: 8px;
}
.category{
    width: 80%;
    float: right;
}
.msgcount{
    background-color: red;
    padding: 4px;
    margin-left: 5px;
    border-radius: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
}


@media(min-width:380px){
    .menu{
        width: 100%;
        float: left;
        padding-left: 30px;
    }
    .menu h1{
        font-size: 20px;
        margin: 0px;
    }
}

@media(min-width:792px){
    .menu{
        width: 45%;
        float: left;
        padding-left: 30px;
    }
    .menu h1{
        font-size: 25px;
        margin: 0px;
    }

}
@media(min-width:992px){
    .menu{
        width: 25%;
        float: left;
        padding-left: 30px;
    }
    .menu h1{
        font-size: 25px;
        margin: 0px;
    }
}
@media(min-width:1200px){
    .menu{
        width: 25%;
        float: left;
        padding-left: 30px;
    }
    .menu h1{
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
    }
}